/* src/components/Header.css */
.header {
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header h1 {
  font-size: 24px;
  color: #1DB954;
}

.header nav a {
  margin: 0 10px;
  color: #1DB954;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}
